In [303]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import accuracy_score
from xgboost import XGBRegressor

In [304]:
sample_submission=pd.read_csv(r'c:\\Users\\mahen\\OneDrive\\Desktop\\datasets\\spaceship_titanic\\sample_submission.csv')
sample_submission

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]

In [305]:
sample_submission.isnull().sum()

PassengerId    0
Transported    0
dtype: int64

In [306]:
sample_submission['Transported'].value_counts()

False    4277
Name: Transported, dtype: int64

In [307]:
train=pd.read_csv(r'c:\\Users\\mahen\\OneDrive\\Desktop\\datasets\\spaceship_titanic\\train.csv')
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [308]:
'''Checking how many passengers are transported'''

'Checking how many passengers are transported'

In [309]:
train['Transported'].value_counts()

True     4378
False    4315
Name: Transported, dtype: int64

In [310]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [311]:
'''Missing values'''

'Missing values'

In [312]:
train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [313]:
train['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [314]:
train['Cabin'].unique()

array(['B/0/P', 'F/0/S', 'A/0/S', ..., 'G/1499/S', 'G/1500/S', 'E/608/S'],
      dtype=object)

In [315]:
print(train['Cabin'].str[:1].unique())
print(train['Cabin'].str[2:3].unique())
print(train['Cabin'].str[-1:].unique())
train['Cabin'].str[-1:].value_counts()

['B' 'F' 'A' 'G' nan 'E' 'D' 'C' 'T']
['0' '1' '2' '3' nan '4' '5' '6' '8' '9' '7']
['P' 'S' nan]

S    4288
P    4206
Name: Cabin, dtype: int64

In [316]:
train['Cabin'].str.split('/',expand=True)

      0     1  2
0     B     0  P
1     F     0  S
2     A     0  S
3     A     0  S
4     F     1  S
...  ..   ... ..
8688  A    98  P
8689  G  1499  S
8690  G  1500  S
8691  E   608  S
8692  E   608  S

[8693 rows x 3 columns]

In [317]:
train['Destination'].value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [318]:
print(train['Age'].min())
print(train['Age'].max())
print(train['Age'].median())
print(train['Age'].mean())
print('age distribution: ')
age_dist = pd.cut(train["Age"], list(range(0, 100, 10))).value_counts()
age_dist

0.0
79.0
27.0
28.82793046746535
age distribution:

(20, 30]    2668
(10, 20]    1717
(30, 40]    1680
(40, 50]     994
(0, 10]      540
(50, 60]     517
(60, 70]     183
(70, 80]      37
(80, 90]       0
Name: Age, dtype: int64

In [319]:
name_df = train["Name"].str.split(" ", expand = True)
name_df = name_df.rename(columns = {0: "FirstName", 1: "FamilyName"})
name_df

     FirstName   FamilyName
0        Maham    Ofracculy
1       Juanna        Vines
2       Altark       Susent
3        Solam       Susent
4        Willy  Santantines
...        ...          ...
8688   Gravior    Noxnuther
8689     Kurta    Mondalley
8690     Fayey       Connon
8691    Celeon    Hontichre
8692    Propsh    Hontichre

[8693 rows x 2 columns]

In [320]:
name_df["FamilyName"].value_counts()

Casonston     18
Oneiles       16
Domington     15
Litthews      15
Browlerson    14
              ..
Covale         1
Dun            1
Witalnerod     1
Deryplinet     1
Sionerorly     1
Name: FamilyName, Length: 2217, dtype: int64

In [321]:
train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [322]:
corr=train.corr()

In [323]:
corr.style.background_gradient(cmap='coolwarm')

In [324]:
X_train=train.drop(columns=['Transported'])
X_train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre

In [325]:
y_train=train['Transported']
y_train

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

In [326]:
X_test=pd.read_csv(r'c:\\Users\\mahen\\OneDrive\\Desktop\\datasets\\spaceship_titanic\\test.csv')
X_test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [327]:
test_index=X_test['PassengerId']
test_index

0       0013_01
1       0018_01
2       0019_01
3       0021_01
4       0023_01
         ...
4272    9266_02
4273    9269_01
4274    9271_01
4275    9273_01
4276    9277_01
Name: PassengerId, Length: 4277, dtype: object

In [328]:
X_train = X_train.drop(columns=["PassengerId", "Name"])
X_test = X_test.drop(columns=["PassengerId", "Name"])

X_train["Cabin"] = X_train["Cabin"].str[-1:]
X_test["Cabin"] = X_test["Cabin"].str[-1:]
print(X_train)
print(X_test)

     HomePlanet CryoSleep Cabin    Destination   Age    VIP  RoomService  \
0        Europa     False     P    TRAPPIST-1e  39.0  False          0.0
1         Earth     False     S    TRAPPIST-1e  24.0  False        109.0
2        Europa     False     S    TRAPPIST-1e  58.0   True         43.0
3        Europa     False     S    TRAPPIST-1e  33.0  False          0.0
4         Earth     False     S    TRAPPIST-1e  16.0  False        303.0
...         ...       ...   ...            ...   ...    ...          ...
8688     Europa     False     P    55 Cancri e  41.0   True          0.0
8689      Earth      True     S  PSO J318.5-22  18.0  False          0.0
8690      Earth     False     S    TRAPPIST-1e  26.0  False          0.0
8691     Europa     False     S    55 Cancri e  32.0  False          0.0
8692     Europa     False     S    TRAPPIST-1e  44.0  False        126.0

      FoodCourt  ShoppingMall     Spa  VRDeck
0           0.0           0.0     0.0     0.0
1           9.0          25.0   549.0    44.0
2        3576.0           0.0  6715.0    49.0
3        1283.0         371.0  3329.0   193.0
4          70.0         151.0   565.0     2.0
...         ...           ...     ...     ...
8688     6819.0           0.0  1643.0    74.0
8689        0.0           0.0     0.0     0.0
8690        0.0        1872.0     1.0     0.0
8691     1049.0           0.0   353.0  3235.0
8692     4688.0           0.0     0.0    12.0

[8693 rows x 11 columns]
     HomePlanet CryoSleep Cabin    Destination   Age    VIP  RoomService  \
0         Earth      True     S    TRAPPIST-1e  27.0  False          0.0
1         Earth     False     S    TRAPPIST-1e  19.0  False          0.0
2        Europa      True     S    55 Cancri e  31.0  False          0.0
3        Europa     False     S    TRAPPIST-1e  38.0  False          0.0
4         Earth     False     S    TRAPPIST-1e  20.0  False         10.0
...         ...       ...   ...            ...   ...    ...          ...
4272      Earth      True     S    TRAPPIST-1e  34.0  False          0.0
4273      Earth     False   NaN    TRAPPIST-1e  42.0  False          0.0
4274       Mars      True     P    55 Cancri e   NaN  False          0.0
4275     Europa     False     P            NaN   NaN  False          0.0
4276      Earth      True     S  PSO J318.5-22  43.0  False          0.0

      FoodCourt  ShoppingMall     Spa  VRDeck
0           0.0           0.0     0.0     0.0
1           9.0           0.0  2823.0     0.0
2           0.0           0.0     0.0     0.0
3        6652.0           0.0   181.0   585.0
4           0.0         635.0     0.0     0.0
...         ...           ...     ...     ...
4272        0.0           0.0     0.0     0.0
4273      847.0          17.0    10.0   144.0
4274        0.0           0.0     0.0     0.0
4275     2680.0           0.0     0.0   523.0
4276        0.0           0.0     0.0     0.0

[4277 rows x 11 columns]

In [329]:
X_train['CryoSleep']=X_train['CryoSleep'].replace({True:1, False:-1})
X_train['CryoSleep']=X_train['CryoSleep'].fillna(0)
print(X_train)

     HomePlanet  CryoSleep Cabin    Destination   Age    VIP  RoomService  \
0        Europa       -1.0     P    TRAPPIST-1e  39.0  False          0.0
1         Earth       -1.0     S    TRAPPIST-1e  24.0  False        109.0
2        Europa       -1.0     S    TRAPPIST-1e  58.0   True         43.0
3        Europa       -1.0     S    TRAPPIST-1e  33.0  False          0.0
4         Earth       -1.0     S    TRAPPIST-1e  16.0  False        303.0
...         ...        ...   ...            ...   ...    ...          ...
8688     Europa       -1.0     P    55 Cancri e  41.0   True          0.0
8689      Earth        1.0     S  PSO J318.5-22  18.0  False          0.0
8690      Earth       -1.0     S    TRAPPIST-1e  26.0  False          0.0
8691     Europa       -1.0     S    55 Cancri e  32.0  False          0.0
8692     Europa       -1.0     S    TRAPPIST-1e  44.0  False        126.0

      FoodCourt  ShoppingMall     Spa  VRDeck
0           0.0           0.0     0.0     0.0
1           9.0          25.0   549.0    44.0
2        3576.0           0.0  6715.0    49.0
3        1283.0         371.0  3329.0   193.0
4          70.0         151.0   565.0     2.0
...         ...           ...     ...     ...
8688     6819.0           0.0  1643.0    74.0
8689        0.0           0.0     0.0     0.0
8690        0.0        1872.0     1.0     0.0
8691     1049.0           0.0   353.0  3235.0
8692     4688.0           0.0     0.0    12.0

[8693 rows x 11 columns]

In [330]:
X_test['CryoSleep']=X_test['CryoSleep'].replace({True:1, False:-1})
X_test['CryoSleep']=X_test['CryoSleep'].fillna(0)
print(X_test)

     HomePlanet  CryoSleep Cabin    Destination   Age    VIP  RoomService  \
0         Earth        1.0     S    TRAPPIST-1e  27.0  False          0.0
1         Earth       -1.0     S    TRAPPIST-1e  19.0  False          0.0
2        Europa        1.0     S    55 Cancri e  31.0  False          0.0
3        Europa       -1.0     S    TRAPPIST-1e  38.0  False          0.0
4         Earth       -1.0     S    TRAPPIST-1e  20.0  False         10.0
...         ...        ...   ...            ...   ...    ...          ...
4272      Earth        1.0     S    TRAPPIST-1e  34.0  False          0.0
4273      Earth       -1.0   NaN    TRAPPIST-1e  42.0  False          0.0
4274       Mars        1.0     P    55 Cancri e   NaN  False          0.0
4275     Europa       -1.0     P            NaN   NaN  False          0.0
4276      Earth        1.0     S  PSO J318.5-22  43.0  False          0.0

      FoodCourt  ShoppingMall     Spa  VRDeck
0           0.0           0.0     0.0     0.0
1           9.0           0.0  2823.0     0.0
2           0.0           0.0     0.0     0.0
3        6652.0           0.0   181.0   585.0
4           0.0         635.0     0.0     0.0
...         ...           ...     ...     ...
4272        0.0           0.0     0.0     0.0
4273      847.0          17.0    10.0   144.0
4274        0.0           0.0     0.0     0.0
4275     2680.0           0.0     0.0   523.0
4276        0.0           0.0     0.0     0.0

[4277 rows x 11 columns]

In [331]:
X_train=pd.get_dummies(X_train,columns=['HomePlanet','Cabin','Destination'])
X_test=pd.get_dummies(X_test,columns=['HomePlanet','Cabin','Destination'])
print(X_train)
print(X_test)

      CryoSleep   Age    VIP  RoomService  FoodCourt  ShoppingMall     Spa  \
0          -1.0  39.0  False          0.0        0.0           0.0     0.0
1          -1.0  24.0  False        109.0        9.0          25.0   549.0
2          -1.0  58.0   True         43.0     3576.0           0.0  6715.0
3          -1.0  33.0  False          0.0     1283.0         371.0  3329.0
4          -1.0  16.0  False        303.0       70.0         151.0   565.0
...         ...   ...    ...          ...        ...           ...     ...
8688       -1.0  41.0   True          0.0     6819.0           0.0  1643.0
8689        1.0  18.0  False          0.0        0.0           0.0     0.0
8690       -1.0  26.0  False          0.0        0.0        1872.0     1.0
8691       -1.0  32.0  False          0.0     1049.0           0.0   353.0
8692       -1.0  44.0  False        126.0     4688.0           0.0     0.0

      VRDeck  HomePlanet_Earth  HomePlanet_Europa  HomePlanet_Mars  Cabin_P  \
0        0.0                 0                  1                0        1
1       44.0                 1                  0                0        0
2       49.0                 0                  1                0        0
3      193.0                 0                  1                0        0
4        2.0                 1                  0                0        0
...      ...               ...                ...              ...      ...
8688    74.0                 0                  1                0        1
8689     0.0                 1                  0                0        0
8690     0.0                 1                  0                0        0
8691  3235.0                 0                  1                0        0
8692    12.0                 0                  1                0        0

      Cabin_S  Destination_55 Cancri e  Destination_PSO J318.5-22  \
0           0                        0                          0
1           1                        0                          0
2           1                        0                          0
3           1                        0                          0
4           1                        0                          0
...       ...                      ...                        ...
8688        0                        1                          0
8689        1                        0                          1
8690        1                        0                          0
8691        1                        1                          0
8692        1                        0                          0

      Destination_TRAPPIST-1e
0                           1
1                           1
2                           1
3                           1
4                           1
...                       ...
8688                        0
8689                        0
8690                        1
8691                        0
8692                        1

[8693 rows x 16 columns]
      CryoSleep   Age    VIP  RoomService  FoodCourt  ShoppingMall     Spa  \
0           1.0  27.0  False          0.0        0.0           0.0     0.0
1          -1.0  19.0  False          0.0        9.0           0.0  2823.0
2           1.0  31.0  False          0.0        0.0           0.0     0.0
3          -1.0  38.0  False          0.0     6652.0           0.0   181.0
4          -1.0  20.0  False         10.0        0.0         635.0     0.0
...         ...   ...    ...          ...        ...           ...     ...
4272        1.0  34.0  False          0.0        0.0           0.0     0.0
4273       -1.0  42.0  False          0.0      847.0          17.0    10.0
4274        1.0   NaN  False          0.0        0.0           0.0     0.0
4275       -1.0   NaN  False          0.0     2680.0           0.0     0.0
4276        1.0  43.0  False          0.0        0.0           0.0     0.0

      VRDeck  HomePlanet_Earth  HomePlanet_Europa  HomePlanet_Mars  Cabin_P  \
0        0.0                 1                  0                0        0
1        0.0                 1                  0                0        0
2        0.0                 0                  1                0        0
3      585.0                 0                  1                0        0
4        0.0                 1                  0                0        0
...      ...               ...                ...              ...      ...
4272     0.0                 1                  0                0        0
4273   144.0                 1                  0                0        0
4274     0.0                 0                  0                1        1
4275   523.0                 0                  1                0        1
4276     0.0                 1                  0                0        0

      Cabin_S  Destination_55 Cancri e  Destination_PSO J318.5-22  \
0           1                        0                          0
1           1                        0                          0
2           1                        1                          0
3           1                        0                          0
4           1                        0                          0
...       ...                      ...                        ...
4272        1                        0                          0
4273        0                        0                          0
4274        0                        1                          0
4275        0                        0                          0
4276        1                        0                          1

      Destination_TRAPPIST-1e
0                           1
1                           1
2                           0
3                           1
4                           1
...                       ...
4272                        1
4273                        1
4274                        0
4275                        0
4276                        0

[4277 rows x 16 columns]

In [332]:
X_train['VIP']*=1
X_train['VIP']=X_train['VIP'].fillna(0)
X_train['VIP']

0       0
1       0
2       1
3       0
4       0
       ..
8688    1
8689    0
8690    0
8691    0
8692    0
Name: VIP, Length: 8693, dtype: int64

In [333]:
X_test['VIP']*=1
X_test['VIP']=X_test['VIP'].fillna(0)
X_test['VIP']

0       0
1       0
2       0
3       0
4       0
       ..
4272    0
4273    0
4274    0
4275    0
4276    0
Name: VIP, Length: 4277, dtype: int64

In [334]:
X_train.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Cabin_P,Cabin_S,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,-1.0,39.0,0,0.0,0.0,0.0,0.0,0.0,0,1,0,1,0,0,0,1
1,-1.0,24.0,0,109.0,9.0,25.0,549.0,44.0,1,0,0,0,1,0,0,1
2,-1.0,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,1,0,0,1,0,0,1
3,-1.0,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,1,0,0,1,0,0,1
4,-1.0,16.0,0,303.0,70.0,151.0,565.0,2.0,1,0,0,0,1,0,0,1

In [335]:
from xgboost import XGBClassifier

In [336]:
model=XGBClassifier(n_estimators=20, random_State=71)
model.fit(X_train,y_train)

[23:25:06] WARNING: C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-03de431ba26204c4d-1/xgboost/xgboost-ci-windows/src/learner.cc:767:
Parameters: { "random_State" } are not used.

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_bin=256, max_cat_threshold=64, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=20, n_jobs=0,
              num_parallel_tree=1, predictor='auto', random_State=71, ...)

In [337]:
pred=model.predict_proba(X_test)[:,1]

In [338]:
pred_label = np.where(pred > 0.5, True, False)
pred_label

array([ True, False,  True, ...,  True,  True,  True])

In [344]:
pred_label.shape

(4277,)

In [339]:
submission = pd.DataFrame({"PassengerId": test_index, "Transported": pred_label})
submission

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]

In [340]:
submission.to_csv("submission.csv", index=False)